/*Global Styles*/

a {
  text-decoration: none;
  color: inherit;
}

a:visited
{ 
  color:inherit;
}

a:link {
color: #333333 !important;
}

strong {
  color: inherit;
}

h1, h2, h3, h4, p {
  font-family: "dosis", sans-serif;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 42px;
  color: #2698d4;
  font-weight: bold;
<<<<<<< HEAD
=======
  text-align:center !important;
>>>>>>> master
  text-transform:uppercase;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

h3 {
  font-size: 24px;
  color: #fff;
}

h4 {
  font-size: 16px;
  color: #fff;
}


header {
  background-color: #404041;
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> master
  top: 0px;
  width: auto;
  height: 95px;
  padding: 20px auto;
 }

header h4 {
  float: right;
  padding: 60px 40px;
  color: #fff;
  }

<<<<<<< HEAD
.logo {
  float: left;
  padding: 15px 15px;
}

.top {
  padding: 60px 0;
  text-align: center;
}

.top:after {
    content: url('../images/trianglewhite.png');
    position: absolute;
    display: block;
    margin-left: 47%;
    margin-top: 60px;
   }

.hero {
  background-color: #2698d4;
  padding-bottom: 20px; 
=======
.top {
  padding: 40px 0;
  text-align: center;
}

.hero {
  background-color: #2698d4;
  padding: 20px auto;
>>>>>>> master
  text-align: center;
 }

.hero h2 {
  background-color: #0e76bc;
<<<<<<< HEAD
  padding: 30px 0;
=======
  padding: 20px 0;
>>>>>>> master
  color: #fff;
 }

.hero ul li {
  padding: 20px 0;
}

<<<<<<< HEAD
.hero ul li h3 {
  line-height: 28px;
}

.hero ul li h4 {
  line-height: 16px;
=======
.hero .competition h4{
  line-height: 15px;
>>>>>>> master
}

.hero .unlimited {
  display: inline;
}

.hero .requestdemo {
  background: #0e76bc;
  border-radius: 7px;
  box-shadow: 0 3px #0d5185;
  height: 37px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 16px;
  display: inline;
}

<<<<<<< HEAD
.cta:before {
    content: url('../images/triangleblue.png');
    position: absolute;
    display: block;
    margin-left: 47%;
    margin-top: -90px;
}

.cta {
  padding-top: 90px;
  padding-bottom: 50px;
=======
.cta {
  padding-top: 80px;
  padding-bottom: 40px;
>>>>>>> master
  background-color: #fff;
}

.cta h3{
  font-size: 20px;
  line-height: 45px;
}

.cta ul li{
  display: inline-block;
  padding: 0 75px;
}

.cta .demo {
  background-image: url('../images/bluebtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: left;
}

.cta .signup {
  background-image: url('../images/orangebtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: center;
}

.cta .gotoaccount {
  background-image: url('../images/greenbtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: center;
}

.featured {
  background-image: url('../images/featured.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #fff;
  padding: 20px 0;
}

footer {
  background-color: #404041;
  height: 95px;
}


