/*Global Styles*/

a {
  text-decoration: none;
  color: inherit;
}

a:visited { 
  color:inherit;
}

strong {
  color: inherit;
}

h1, h2, h3, h4, p {
  font-family: "dosis", sans-serif;
}

h1 {
  font-size: 42px;
  color: #2698d4;
}

h2 {
  font-size: 30px;
  color: #333333;
}

h3 {
  font-size: 24px;
  color: #333333;
}

h4 {
  font-size: 16px;
  color: #333333;
}


/* Header Styles */

header {
  background-color: #404041;
  position: relative;
  top: 0px;
  width: auto;
  height: 95px;
  padding: 20px auto;
 }

header h4 {
  float: right;
  padding-right: 60px;
  padding-top: 60px;
  color: #fff;
  }

.logo {
  float: left;
  padding-top: 20px; 
  padding-left: 60px;
}

/*Top 5 Reasons Section Styles */

.top {
  padding: 40px auto;
  text-align: center;
}


/* Hero Container Styles */

.hero {
  background-color: #fff;
  padding: 10px auto;
  text-align: center; 
}

.hero h2 {
  padding: 15px 0;
  color: #2698d4;
  text-align: center;
  font-weight: bold;
 }

.hero ul li {
  padding: 15px 0;
}

.hero ul li h4 {
 line-height: 16px;
}

.hero ul li a {
  color: #2698d4;
}

.hero .competition h4{
  line-height: 15px;
}

.hero .unlimited {
  display: inline;
}

/* Hero Container's "Request Demo" Button Styles*/

.hero .requestdemo {
  background: #0e76bc;
  border-radius: 7px;
  box-shadow: 0 3px #0d5185;
  font-size: 16px;
  height: 37px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

.hero .requestdemo a {
  color: #fff;
}

.hero .dailysales a {
  color: #484445;
}

/*Call to Action Container Styles*/

.cta {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #fff;
}

.cta h3 {
  font-size: 20px;
}

.cta ul li{
  display: inline-block;
  padding: 0 75px;
}

/* Demo Buttons Styles*/

.cta .demo {
  background-image: url('../images/bluebtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: left;
}

/* Sign Up Button Styles*/
.cta .signup {
  background-image: url('../images/orangebtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: center;
}


/*Go to Account Button Styles*/

.cta .gotoaccount {
  background-image: url('../images/greenbtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: center;
}

/* Featured In Banner Styles*/

.featured {
  background-image: url('../images/featured.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Footer Styles */

footer {
  background-color: #404041;
  height: 95px;
}


