/*Global Styles*/

a {
  text-decoration: none;
  color: inherit;
}

a:visited { 
  color:inherit;
}

strong {
  color: inherit;
}

h1, h2, h3, h4, p {
  font-family: "dosis", sans-serif;
}

h1 {
  font-size: 38px;
  color: #2698d4;
}

h2 {
  font-size: 26px;
  color: #333333;
}

h3 {
  font-size: 20px;
  color: #333333;
}

h4 {
  font-size: 16px;
  color: #333333;
}

p {
  font-size: 12px;
  color: #fff;
}


/* Header Styles */

header {
  background-image: url('../images/homepage_bodybg.jpg');
  position: relative;
  top: 0px;
  width: auto;
  height: 95px;
  padding: 20px auto;
 }

header h4 {
  float: right;
  padding-right: 60px;
  padding-top: 60px;
  color: #fff;
  }

.logo {
  float: left;
  padding-top: 20px; 
  padding-left: 60px;
}

/*Top 5 Reasons Section Styles */

.top {
  padding: 30px auto;
  text-align: center;
}


/* Hero Container Styles */

.hero {
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
}

.hero h2 {
  top: 10px;
  padding-bottom: 10px;
  color: #2698d4;
  text-align: center;
  font-weight: bold;
}

.hero ul li a {
  color: #2698d4;
}

.hero ul li h4 {
  line-height: 10px;
}

.hero .heroline ul li {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;  
  vertical-align: middle;
  display: inline-block;
  margin: 0 0;
}

/* Hero Container's "Request Demo" Button Styles*/

.hero .heroline #requestdemo {
  background: #0e76bc;
  border-radius: 5px;
  box-shadow: 0 3px #0d5185;
  font-size: 14px;
  height: 17px;
  width: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.hero #requestdemo a {
  color: #fff;
}

.hero .dailysales a {
  color: #484445;
}

/*Call to Action Container Styles*/

.cta {
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #fff;
}

.cta h3 {
  font-size: 20px;
}

.cta ul li{
  display: inline-block;
  padding: 0 75px;
}

/* Demo Buttons Styles*/

.cta .demo {
  background-image: url('../images/bluebtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: left;
}

/* Sign Up Button Styles*/
.cta .signup {
  background-image: url('../images/orangebtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: center;
}


/*Go to Account Button Styles*/

.cta .gotoaccount {
  background-image: url('../images/greenbtn.png');
  background-repeat: no-repeat;
  width: 207px;
  height: 43px;
  text-align: center;
}

/* Featured In Banner Styles*/

.featured {
  background-image: url('../images/featured.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Footer Styles */

footer p a {
  color: #fff;
}

footer {
  background: url('../images/bottom_content_bg.jpg');
  height: 180px;
  overflow: hidden;
  position: relative;
}





